.App {
  text-align: center;
  max-width: 540px;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.much-rotate {
  animation: ramButton-loading-spin 4s infinite linear;
}
