:root {
  --locationAndTimeIconElementLength: 32px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom, white, rgba(194, 255, 219, 1));
}

.widthWithIcon {
  width: calc(100% - var(--locationAndTimeIconElementLength)) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center {
  display: block;
  margin: auto;
}

.redBorder {
  border: 1px solid red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
