/* .ramButton-loading:hover {
    background: url("../images/button-loading-hover.png") no-repeat scroll 0 0 transparent;
    background-size: 100%;
}

.ramButton-loading:active {
    background: url("../images/button-loading-click.png") no-repeat scroll 0 0 transparent;
    background-size: 100%;
} */

main {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
}
