.ramButton {
  height: 100px;
  width: 100px;

  padding: 0px;

  border: none;

  background: url("../images/button.png") no-repeat scroll 0 0 transparent;
  background-size: 100%;
}

.ramButton:hover {
  background: url("../images/button-hover.png") no-repeat scroll 0 0 transparent;
  background-size: 100%;
}

.ramButton:active {
  background: url("../images/button-click.png") no-repeat scroll 0 0 transparent;
  background-size: 100%;
}

.ramButton:focus {
  outline: 0;
}

.partyList {
  color: #076d00;
  display: block;
  text-align: center;
  list-style-image: url("../images/baseline-person_pin-24px.svg");
  list-style-position: outside;
  width: 75%;
}

.partyList > li {
  background-color: white;
  border: none;
  margin: 0;
}
.partyList > li:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.partyList > li:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

main {
  width: 100%;
}
